@model Caza.Models.USUARIO

@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<form align="center">

    <label>Nombre<input type="text" name="nombre" id="nombre"/></label><br /><br />
    <label>Apellido<input type="text" name="apellido" id="apellido"/></label><br /><br />
    <label>Usuario<input type="text" name="usuario" id="usuario"/></label><br /><br />
    <label>Contraseña<input type="password" name="pass" id="pass"/></label><br /><br />
    <label>Direccion<input type="text" name="direccion" id="direccion"/></label><br /><br />
    <label>Email<input type="text" name="email" id="email"/></label><br />
    <input type="submit" value="Enviar" />
</form>