<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>este es el inicio</title>
<style>

.head{
background-color:#3c3d56;
border-color:#fff;
}
.letra{
font-size:60px;

 text-shadow: #555 2px 2px 3px;
}
.spa{
color:#fffc;
}
.p{
color:#ff6c00;

}
#le{
	
font-size:26px;
 text-shadow: #555 2px 2px 3px;
}
.mora{
color:#3c3d56;
}
img {
    border-radius: 8px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	
}

#head {
  animation-duration: 3s;
  animation-name: slidein;
   text-shadow: #555 2px 2px 3px;
}


    .head{
background-color:#3c3d56;
border-color:#fff;
}
.letra{
font-size:60px;

 text-shadow: #555 2px 2px 3px;
}
.spa{
color:#fffc;
}
.p{
color:#ff6c00;

}
#le{
	
font-size:26px;
 text-shadow: #555 2px 2px 3px;
}
.mora{
color:#3c3d56;
}
img {
    border-radius: 8px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	
}

#head {
  animation-duration: 3s;
  animation-name: slidein;
   text-shadow: #555 2px 2px 3px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

</style>
</head>
<link rel="stylesheet" href="animation.css">
<link rel="stylesheet" href="footer-v1.css">
<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="header-default.css">
<body ><table id="head"><tr><td>
<div>
<img src="logo-kaza.jpeg" width="250"></div><td><td  align="center" class="head" width="1100"><h2 class="letra" ><span class="spa">Te</span> <span class="p">Ayudamos</span> <span class="spa">a</span ><span class="p"> buscar</span> </h2></td></tr></table>
<table  ><tr><td align="center"><span class="p" id="le"><br/><br/>Bienvenido<span>
<br/><span  align="center-left"  class="mora">Armando<br/>Tu Casa</span></td></tr>
<tr><td width="250">
<br/>
<br/>
<br/>
<br/>
<span  class="p"><ul align="center"><li>Ver mis datos</li><br/><li> Editar mi Perfil </li></ul></span>
</td></tr><tr>
<td align="center" width="250"><a href="#" class="button">Cerrar sesion</a></td></tr>
</table>

</html>
